<div class="zion">
  <div>Epic Skills</div>
</div>
<div class="about">
  <p>Brandon Thorly is an ex-biologist and current software engineer based in Austin, TX. He has experience in agile development for enterprise level applications, particularly in Java and Ruby on Rails. Working the past 3+ years in a rapid development environment has given him the skills to work well with teams to produce production ready code quickly with a focus still on best practices. In particular, this has led him to know the importance of Test Driven Development and the necessity for good communication and planning within a team. He is passionate about learning and always trying to improve the development process.</p>
  <p>Brandon has also worked as a photographer and has worked with NPR, Rolling Stones, SXSW, Pitchfork and others to produce stills as well as video. When he is not working he is most likely running, climbing, taking photos, or spending time with his wife, Nicole, and two pups at their home in East Austin awaiting the arrival of their newest family member.</p>
</div>
<div class="skills">
  <br>
  <p>Java</p>
  <p>Javascipt/Typescript</p>
  <p>Angular/AngularJS</p>
  <p>Ruby/Rails</p>
  <p class="resume-link" routerLink="/resume">... resume</p>
  <br>
</div>
<div class="ext-links">
  <div class="container">
    &nbsp;<span>678.849.5706</span>&nbsp;
    <a href="https://github.com/brandontbeasley">&nbsp; GitHub &nbsp;</a>
    <a href="https://www.linkedin.com/in/brandontbeasley/">&nbsp; LinkedIn &nbsp;</a>
    <a href="mailto:brandonthorly@gmail.com?Subject=Hello%20from%20brandonthorly.com" target="_top">&nbsp; brandonthorly@gmail.com &nbsp;</a>
  </div>
</div>
